# Clinometer activity Pt 2

In this notebook you'll create a pandas dataframe with data from the entire class. You will practice using pandas functions and learn how to convert a CSV file to a pandas dataframe.

Start by importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Next, let's open our data file and convert it to a pandas dataframe. 

This time our dataset is in a CSV file so we can use the pd.read_csv() function:

In [2]:
df = pd.read_csv("Class_clinometer_data.csv")

Let's take a look at the data! Use the .head() function to look at the first 5 rows of data.

In [4]:
df

    Student height (m)  Building distance (m)  Clinometer angle (deg)
0               1.7200              52.500000                    29.0
1               1.7300              45.000000                    34.0
2               1.6256              45.034176                    31.5
3               1.6800              52.500000                    26.0
4               1.6002              52.500000                    33.0
5               1.6300              44.856376                    39.0
6               1.6800              44.800000                    31.0
7               1.6600              52.500000                    35.0
8               1.6300              52.500000                    27.0
9               1.5100              52.500000                    23.0
10              1.5500              52.500000                    39.0
11              1.3970              45.000000                    35.0

Now use the .dtypes command to check the data type of the columns (note this is not a function so you don't need parentheses)

In [5]:
df.dtypes

Student height (m)        float64
Building distance (m)     float64
Clinometer angle (deg)    float64
dtype: object

The first column contains the height of everyone in the class.

Isolate this column using an index and assign it to a variable. Hint: You'll need to include the column name in the index.

In [6]:
# Create your variable and assign the "student height" column here
s_height = df["Student height (m)"]

Now, print out the average height using the .mean() method.

In [7]:
s_height.mean()

1.6177333333333335

## Adding columns
To make our data useful, we need to add some more columns. Let's create a column for theta first.

Recall that theta = np.deg2rad(degrees).

In [8]:
# Create a new column called "theta" 
# Hint: You will need to use a dataframe index as the argument for the np.deg2rad() function.
df["theta"] = np.deg2rad(df["Clinometer angle (deg)"])

In [9]:
df.head() # Check to make sure that your new column is correct

   Student height (m)  Building distance (m)  Clinometer angle (deg)     theta
0              1.7200              52.500000                    29.0  0.506145
1              1.7300              45.000000                    34.0  0.593412
2              1.6256              45.034176                    31.5  0.549779
3              1.6800              52.500000                    26.0  0.453786
4              1.6002              52.500000                    33.0  0.575959

Next, let's add a "building height" column. 

Remember that opposite = adjacent * np.tan(theta) and that the building height is opposite + student height.

In [10]:
# Create a new column called "building height"
# Choose your dataframe indexes carefully!

df["building height"] = (df["Building distance (m)"]*np.tan(df["theta"])) + df["Student height (m)"]

In [12]:
df # Check to make sure that your new column is correct

,Student height (m),Building distance (m),Clinometer angle (deg),theta,building height
0,1.7200,52.500000,29.0,0.506145,30.821225
1,1.7300,45.000000,34.0,0.593412,32.082883
2,1.6256,45.034176,31.5,0.549779,29.222578
3,1.6800,52.500000,26.0,0.453786,27.285961
4,1.6002,52.500000,33.0,0.575959,35.694099
5,1.6300,44.856376,39.0,0.680678,37.953977
6,1.6800,44.800000,31.0,0.541052,28.598556
7,1.6600,52.500000,35.0,0.610865,38.420896
8,1.6300,52.500000,27.0,0.471239,28.380086
9,1.5100,52.500000,23.0,0.401426,23.794928
10,1.5500,52.500000,39.0,0.680678,44.063662
11,1.3970,45.000000,35.0,0.610865,32.906339

Now, let's find the average building height for the entire class

In [13]:
# Hint: Use the .mean() method
bh = df["building height"]
bh.mean()

32.435432470451083